.header {
  @apply border-b fixed z-30 w-full;
}

.header::before {
  content: '';
  @apply backdrop-blur-md absolute inset-0 bg-secondary -z-10 opacity-95;
}

.loader {
  width: 28px;
  height: 28px;
  border: 3px solid #000000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
